<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="Trevoo.Utilities.CustomWebProxy, Trevoo.Core" />
    </defaultProxy>
  </system.net>
  -->
  <appSettings>
    <add key="mode" value="production"/>
    <add key="SecureGateUrl" value="https://3dpayment.nuanstur.com.tr"/>
    <add key="addon-parallelism" value="4"/>
    <add key="BiletBankHotelUsername" value="SURAT_WS"/>
    <add key="BiletBankHotelPassword" value="SUR_WS20!3"/>
    <add key="system-tag" value="nuans"/>
    <add key="use-new-addons" value="true"/>
    <add key="Email_Sender" value="Nuanstur"/>
    <add key="Email_Host" value="172.27.10.43"/>
    <add key="Email_Port" value="25"/>
    <add key="Email_Username" value="noreply.nuans@nuanstur.com.tr"/>
    <add key="Email_Password" value="nn.12345"/>
    <add key="Email_Address" value="noreply.nuans@nuanstur.com.tr"/>
    <add key="SecureGateUrl" value="https://3dpayment.nuanstur.com.tr"/>
    <add key="AgenciesWithoutXT" value=""/>
    <add key="CharterHotelCodeSuffix" value="nu"/>
	<add key="FSFMAgencies" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Model" providerName="System.Data.SqlClient"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Trevoocar;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"/>
    <add name="ModelConStr" providerName="System.Data.SqlClient"
      connectionString="Data Source=172.27.10.50;Initial Catalog=TrevooTransfer;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"/>
    <add name="Biletbank" providerName="System.Data.SqlClient"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Biletbank;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"/>
    <add name="BiletbankConnectionString" connectionString="Data Source=172.27.10.50;Initial Catalog=Biletbank;User ID=nuansebilet; Password=ebilet.123"
      providerName="System.Data.SqlClient"/>
    <add name="Trevoo" providerName="System.Data.SqlClient"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Trevoo;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"/>
    <add name="Trevoocar" providerName="System.Data.SqlClient"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Trevoocar;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"/>
    <add name="Trevoocarcommissions" providerName="System.Data.SqlClient"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Trevoocar;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"/>
    <add name="TrevocarCommisionsConnectionString"
      connectionString="Data Source=172.27.10.50;Initial Catalog=TrevocarCommisions;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"
      providerName="System.Data.SqlClient"/>
    <add name="TrevocarCommisionsEntities"
      connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.27.10.50;Initial Catalog=TrevocarCommisions;User ID=nuansebilet;Password=ebilet.123;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="TrevooConnectionString"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Trevoo;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"
      providerName="System.Data.SqlClient"/>
    <add name="Trevoo_Invoice_ConnectionString"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Trevoo.Invoice;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"
      providerName="System.Data.SqlClient"/>
    <add name="Trevoo_Log_ConnectionString"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Trevoo_Log_New;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"
      providerName="System.Data.SqlClient"/>
    <add name="HotelBase.Properties.Settings.TrevooHotelConnectionString"
      connectionString="Data Source=172.27.10.50;Initial Catalog=2k24;User ID=nuansebilet; Password=ebilet.123" providerName="System.Data.SqlClient"/>
    <add name="HotelBase.Properties.Settings.TrevooStaticHotelConnectionString"
      connectionString="Data Source=172.27.10.50;Initial Catalog=2k24_Static_Final;User ID=nuansebilet; Password=ebilet.123"
      providerName="System.Data.SqlClient"/>
    <add name="QuickRes.Properties.Settings.QuickresConnectionString"
      connectionString="Data Source=172.27.10.50;Initial Catalog=Quickres;Persist Security Info=True;User ID=nuansebilet;Password=ebilet.123"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="TrevooWS.svc" service="Trevoo.WS.Services.Base" />
        <add relativeAddress="BossWS.svc" service="Trevoo.WS.Services.Boss" />
        <add relativeAddress="MetaWS.svc" service="Trevoo.WS.Services.Meta" />
        <add relativeAddress="PublicWS.svc" service="Trevoo.WS.Services.Public" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <!-- FLIGHT BINDINGS -->
        <!-- [Websdom] -->
        <binding name="WebsdomServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1000000" maxBufferPoolSize="524288" maxReceivedMessageSize="1000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="4096" maxNameTableCharCount="1000000" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <!-- [/Websdom] -->
        <!-- [WebsInt] -->
        <binding name="WebsintServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1000000" maxBufferPoolSize="524288" maxReceivedMessageSize="1000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="1000000" maxArrayLength="1000000" maxBytesPerRead="4096" maxNameTableCharCount="1000000" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <!-- [/WebsInt] -->
        <!-- [Amadeus] -->
        <binding name="AmadeusWebServicesBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1000000" maxBufferPoolSize="524288" maxReceivedMessageSize="1000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="64000" maxBytesPerRead="4096" maxNameTableCharCount="64000" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AmadeusWebServicesBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1000000" maxBufferPoolSize="524288" maxReceivedMessageSize="1000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="64000" maxBytesPerRead="4096" maxNameTableCharCount="64000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/Amadeus] -->
        <!-- [AtlasJet] -->
		  <binding name="AtlasjetSoapBinding">
			  <security mode="Transport" />
		  </binding>
		  <binding name="AtlasjetSoapBinding1" />
        <!-- [/AtlasJet] -->
        
        <!-- [FlyDubai] -->
        <binding name="BasicHttpBinding_IConnectPoint_Security" />
        <binding name="BasicHttpBinding_IConnectPoint_TravelAgents" />
        <binding name="BasicHttpBinding_IConnectPoint_Pricing" />
        <binding name="BasicHttpBinding_IConnectPoint_Reservation" />
        <binding name="BasicHttpBinding_IConnectPoint_Fulfillment" />
        <!-- [/FlyDubai] -->
        
        <!-- [Pegasus] -->
        <binding name="CraneOTAServiceV21SOAP11Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="52428800" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/Pegasus] -->
        <!-- [Borajet-SunExpress-Onurair] -->
        <binding name="CraneOTAServiceSOAP11Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="52428800" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/Borajet-SunExpress-Onurair] -->
		
		        <!-- [Sunexpress] -->
        <binding name="CraneOTAServiceExtendedSOAP11Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="52428800" maxBufferSize="65536000" maxReceivedMessageSize="65536000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/Sunexpress] -->
		
		
        <!-- [AerTicket] -->
        <binding name="TourConexWebServiceSOAP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="52428800" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="320" maxStringContentLength="819200" maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
          <!-- sizes increased to prevent error -->
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="TourConexWebServiceSOAP1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/AerTicket] -->
        <!-- [EasyJet] -->
        <binding name="B2BServiceSoap">
          <security mode="Message">
            <transport clientCredentialType="Certificate" realm="" />
          </security>
        </binding>
        <!-- [/EasyJet] -->
        <!-- [HitchHiker] -->
        <binding name="HitchHikerSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="52428800" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="320" maxStringContentLength="819200" maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
        </binding>
        <!-- [/HitchHiker] -->
        <!-- [BiletBank FlightCharter] -->
        <binding name="BasicHttpBinding_IFlightBookingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/BiletBank FlightCharter] -->
        <!-- [BiletBank Akgunler Flight] -->
        <binding name="BasicHttpBinding_I_Authentication_Flight" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_I_Shopping_Flight" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="65536000" maxBufferSize="65536000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="7777777" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/BiletBank Akgunler Flight] -->
        <!-- HOTEL BINDINGS -->
        <!-- [Biletbank Hotel] -->
        <binding name="BasicHttpBinding_I_Authentication" closeTimeout="00:02:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="7777777" maxArrayLength="1638400" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_I_Shopping" closeTimeout="00:02:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="655360000" maxReceivedMessageSize="6553600000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="7777777" maxArrayLength="1638400" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_I_Accounting" closeTimeout="00:02:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="7777777" maxArrayLength="1638400" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_I_Info" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="7777777" maxArrayLength="1638400" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_I_AccountsBase" closeTimeout="00:02:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="7777777" maxArrayLength="1638400" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/Biletbank Hotel] -->
        <!-- [HotelsPro] -->
        <binding name="b2bHotelSOAPBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="12553600" maxBufferPoolSize="524288" maxReceivedMessageSize="12553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/HotelsPro] -->
        <!-- [HotelBeds] -->
        <binding name="FrontendServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/HotelBeds] -->
        <!-- [Tourico] -->
        <binding name="BasicHttpBinding_IHotelFlow" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ReservationsServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/Tourico] -->
        <!-- [CharterHotel Static] -->
        <binding name="BasicHttpBinding_IStaticDataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="655360000" maxReceivedMessageSize="6553600000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="7777777" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBookingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/CharterHotel Static] -->
        <!-- [HMS Tatil] -->
        <binding name="TournateWebservicesSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="30000000" maxBufferPoolSize="30000000" maxReceivedMessageSize="30000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="7777777" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!-- [/HMS Tatil] -->
        <!-- [eNett] -->
        <binding name="BasicHttpBinding_IvNettServiceV2">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IvNettServiceV21" />
        <!-- [/eNett] -->
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- FLIGHT END-POINTS -->
      <!-- Amadeus -->
      <endpoint address="https://production.webservices.amadeus.com" binding="basicHttpBinding" bindingConfiguration="AmadeusWebServicesBinding" contract="AmadeusServiceReference.AmadeusWebServicesPT" name="AmadeusWebServicesPort" />
      <!-- Websdom -->
      <endpoint address="https://wsprod.thy.com/websdom/Websdom" binding="basicHttpBinding" bindingConfiguration="WebsdomServiceSoapBinding" contract="Websagent.Websdom" name="WebsdomSoapPort" />
      <!-- WebsInt test -->
	  <!-- AtlasJet -->
	  <endpoint address="https://ads.atlasjet.com:443/ADSAGENCYWS/services/Atlasjet" binding="basicHttpBinding" bindingConfiguration="AtlasjetSoapBinding" contract="AtlasJetWS.Atlasjet" name="Atlasjet" />
		<!-- FlyDubai -->
      <endpoint address="http://fz.connectpoint.uat.radixx.com/ConnectPoint.Security.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConnectPoint_Security" contract="securityWS.IConnectPoint_Security" name="BasicHttpBinding_IConnectPoint_Security" />
      <endpoint address="http://fz.connectpoint.uat.radixx.com/ConnectPoint.TravelAgents.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConnectPoint_TravelAgents" contract="travelAgentsWS.IConnectPoint_TravelAgents" name="BasicHttpBinding_IConnectPoint_TravelAgents" />
      <endpoint address="http://fz.connectpoint.uat.radixx.com/ConnectPoint.Pricing.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConnectPoint_Pricing" contract="pricingWS.IConnectPoint_Pricing" name="BasicHttpBinding_IConnectPoint_Pricing" />
      <endpoint address="http://fz.connectpoint.uat.radixx.com/ConnectPoint.Reservation.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConnectPoint_Reservation" contract="reservationWS.IConnectPoint_Reservation" name="BasicHttpBinding_IConnectPoint_Reservation" />
      <endpoint address="http://fz.connectpoint.uat.radixx.com/ConnectPoint.Fulfillment.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConnectPoint_Fulfillment" contract="fulfillmentWS.IConnectPoint_Fulfillment" name="BasicHttpBinding_IConnectPoint_Fulfillment" />
      <!-- FlyDubai -->
      <!-- Pegasus -->
      <endpoint address="https://b2b.flypgs.com/axis2/services/CraneOTAServiceV21" binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceV21SOAP11Binding" contract="PGSWS.CraneOTAServiceV21PortType" name="CraneOTAServiceV21SOAP11port_http" />
      <!-- Borajet -->
      <endpoint address="https://borajet.crane.aero/axis2/services/CraneOTAService" binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceSOAP11Binding" contract="BorajetWS.CraneOTAServicePortType" name="CraneOTAServiceSOAP11port_http" />
      <!-- OnurAir -->
      <endpoint address="https://book.onurair.com/axis2/services/CraneOTAService" binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceSOAP11Binding" contract="OnurWS.CraneOTAServicePortType" name="CraneOTAServiceSOAP11port_http" />
      <!-- SunExpress -->
      <endpoint address="https://ota.sunexpress.com/axis2/services/CraneOTAServiceExtended" binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceExtendedSOAP11Binding" contract="SunExpressWS.CraneOTAServiceExtendedPortType" name="CraneOTAServiceExtendedSOAP11port_http" />
      <!-- AerTicket -->
      <endpoint address="https://biletbank.flightconex.de/tourconex/services/TourConexWebService" binding="basicHttpBinding" bindingConfiguration="TourConexWebServiceSOAP" contract="TraviceWS.TourConexWebService" name="TourConexWebServiceSOAP" />
      <!-- EasyJet -->
      <endpoint address="http://b2bs109.easyjet.com/Service.asmx" binding="basicHttpBinding" bindingConfiguration="B2BServiceSoap" contract="EasyJetWS.B2BServiceSoap" name="B2BServiceSoap" />
      <!-- HitchHiker -->
      <endpoint address="http://flightapi.temyra.net:7717/FlightAPI" binding="basicHttpBinding" bindingConfiguration="HitchHikerSoap" contract="HitchHikerWS.IFlightAPI" name="HitchHikerSoap" />
      <!-- BiletBank CharterFlight -->
      <endpoint address="http://charterws.biletbank.com/FlightBookingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightBookingService" contract="FlightCharterWS.IFlightBookingService" name="BasicHttpBinding_IFlightBookingService" />
      <!-- BiletBank Akgunler -->
      <endpoint address="http://78.111.98.114:8082/TrevooWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_Authentication_Flight" contract="BiletBankWS.I_Authentication" name="BasicHttpBinding_I_Authentication_Flight" />
      <endpoint address="http://78.111.98.114:8082/TrevooWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_Shopping_Flight" contract="BiletBankWS.I_Shopping" name="BasicHttpBinding_I_Shopping_Flight" />
      <!-- HOTEL END-POINTS -->
      <!-- HotelBeds -->
      <endpoint address="http://trajanoxp.hotelbeds:9091/appservices/ws/FrontendService" binding="basicHttpBinding" bindingConfiguration="FrontendServiceSoapBinding" contract="Services.HotelBeds_ServiceReference.FrontendService" name="FrontendService" />
      <!-- HotelsPro -->
      <endpoint address="http://api.hotelspro.com/4.1/hotel/b2bHotelSOAP.php" binding="basicHttpBinding" bindingConfiguration="b2bHotelSOAPBinding" contract="Services.HotelsPro_ServiceReference.b2bHotelSOAPPortType" name="b2bHotelSOAPPort" />
      <!-- Tourico -->
      <endpoint address="http://thfwsv3.touricoholidays.com/HotelFlow.svc/bas" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelFlow" contract="Services.Tourico.IHotelFlow" name="BasicHttpBinding_IHotelFlow" />
      <endpoint address="http://newws.touricoholidays.com/ReservationsService.asmx?wsdl" binding="basicHttpBinding" bindingConfiguration="ReservationsServiceSoap" contract="Services.TouricoRes.ReservationsServiceSoap" name="ReservationsServiceSoap" />
      <!-- Biletbank Hotel -->
      <endpoint address="http://77.92.130.115:8085/TrevooWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_Authentication"
        contract="Services.Biletbank.I_Authentication" name="BasicHttpBinding_I_Authentication"/>
      <endpoint address="http://77.92.130.115:8085/TrevooWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_Shopping"
        contract="Services.Biletbank.I_Shopping" name="BasicHttpBinding_I_Shopping"/>
      <endpoint address="http://77.92.130.115:8085/TrevooWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_Accounting"
        contract="Services.Biletbank.I_Accounting" name="BasicHttpBinding_I_Accounting"/>
      <endpoint address="http://77.92.130.115:8085/TrevooWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_Info"
        contract="Services.Biletbank.I_Info" name="BasicHttpBinding_I_Info"/>
      <endpoint address="http://77.92.130.115:8085/TrevooWS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_AccountsBase"
        contract="Services.Biletbank.I_AccountsBase" name="BasicHttpBinding_I_AccountsBase"/>
      <!-- CharterHotel Static Data Endpoint -->
      <endpoint address="http://10.27.2.15:5001/Service.WebService.StaticDataService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IStaticDataService" contract="Services.CharterHotel_StaticData.IStaticDataService"
        name="BasicHttpBinding_IStaticDataService"/>
      <endpoint address="http://10.27.2.15:5001/Service.WebService.BookingService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBookingService" contract="Services.CharterHotel.IBookingService" name="BasicHttpBinding_IBookingService"/>
      <!-- Hms Tatil -->
      <endpoint address="http://tournateapi.hmstatil.com/TournateWebservices.asmx" binding="basicHttpBinding" bindingConfiguration="TournateWebservicesSoap" contract="Services.Hms.TournateWebservicesSoap" name="TournateWebservicesSoap" />
      <!-- eNett endpoint -->
      <endpoint address="https://enett.com/vNettService/vNettServiceV2.svc/RS" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IvNettServiceV2" contract="VANWS.IvNettServiceV2" name="BasicHttpBinding_IvNettServiceV2" />
      <!-- TRANSFER ENDPOINTS -->
      <endpoint address="http://212.170.239.71/appservices/ws/FrontendService" binding="basicHttpBinding" bindingConfiguration="FrontendServiceSoapBinding" contract="ws.FrontendService" name="FrontendService" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <log4net>
    <root>
      <level value="ALL" />
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="C:\EggE\logs\boss_log.txt" />
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="DEBUG" />
          <levelMax value="FATAL" />
        </filter>
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maximumFileSize value="10MB" />
        <maxSizeRollBackups value="10" />
      </appender>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>