<?xml version="1.0"?>
<configuration>


  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>


  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>


  <system.serviceModel>

    <client>
      <endpoint address="http://ota.onurair.com:80/axis2/services/CraneOTAService"
        binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceSOAP11Binding"
        contract="OnurAirCraneOTAService.CraneOTAServicePortType" name="CraneOTAServiceSOAP11port_http" />
      <endpoint address="http://ota.onurair.com:80/axis2/services/CraneOTAService"
        binding="customBinding" bindingConfiguration="CraneOTAServiceSOAP12Binding"
        contract="OnurAirCraneOTAService.CraneOTAServicePortType" name="CraneOTAServiceSOAP12port_http" />
      <endpoint address="http://91.230.73.120/ADSAGENCYWS/services/Atlasjet"
        binding="basicHttpBinding" bindingConfiguration="AtlasjetSoapBinding"
        contract="AtlasjetServiceReference.Atlasjet" name="Atlasjet" />
      <endpoint address="http://brj-stage.crane.aero:80/axis2/services/CraneOTAService"
        binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceSOAP11Binding1"
        contract="BoraJetServiceReference.CraneOTAServicePortType" name="CraneOTAServiceSOAP11port_http1" />
      <endpoint address="http://brj-stage.crane.aero:80/axis2/services/CraneOTAService"
        binding="customBinding" bindingConfiguration="CraneOTAServiceSOAP12Binding1"
        contract="BoraJetServiceReference.CraneOTAServicePortType" name="CraneOTAServiceSOAP12port_http1" />
      <endpoint address="http://ota.sunexpress.com:80/axis2/services/CraneOTAService"
        binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceSOAP11Binding2"
        contract="SunExpressServiceReference.CraneOTAServicePortType"
        name="CraneOTAServiceSOAP11port_http2" />
      <endpoint address="http://ota.sunexpress.com:80/axis2/services/CraneOTAService"
        binding="customBinding" bindingConfiguration="CraneOTAServiceSOAP12Binding2"
        contract="SunExpressServiceReference.CraneOTAServicePortType"
        name="CraneOTAServiceSOAP12port_http2" />
      <endpoint address="http://sxs-stage.crane.aero:80/axis2/services/CraneOTAServiceExtended"
        binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceExtendedSOAP11Binding"
        contract="TestSunExpressServiceReference.CraneOTAServiceExtendedPortType"
        name="CraneOTAServiceExtendedSOAP11port_http" />
      <endpoint address="http://sxs-stage.crane.aero:80/axis2/services/CraneOTAServiceExtended"
        binding="customBinding" bindingConfiguration="CraneOTAServiceExtendedSOAP12Binding"
        contract="TestSunExpressServiceReference.CraneOTAServiceExtendedPortType"
        name="CraneOTAServiceExtendedSOAP12port_http" />
      <!--<endpoint address="http://b2b.flypgs.com:8080/axis2/services/CraneOTAServiceV21"
        binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceV21SOAP11Binding"
        contract="PegasusCraneOTAService.CraneOTAServiceV21PortType"
        name="CraneOTAServiceV21SOAP11port_http" />-->
      <endpoint address="http://b2b.flypgs.com:8080/axis2/services/CraneOTAServiceV21"
        binding="customBinding" bindingConfiguration="CraneOTAServiceV21SOAP12Binding"
        contract="PegasusCraneOTAService.CraneOTAServiceV21PortType"
        name="CraneOTAServiceV21SOAP12port_http" />
    
      <endpoint address="https://b2b.flypgs.com/axis2/services/CraneOTAServiceV21" binding="basicHttpBinding" bindingConfiguration="CraneOTAServiceV21SOAP11Binding" contract="PegasusCraneOTAService.CraneOTAServiceV21PortType" name="CraneOTAServiceV21SOAP11port_http" />
    </client>
    <services>
      <service name="BurakWcfService.ServiceHello" behaviorConfiguration="BurakWcfService_Behavior">
        <endpoint address="" binding="basicHttpBinding" contract="BurakWcfService.IServiceHello" bindingConfiguration="BurakWcfService_BasicHttpBindingConfig">

        </endpoint>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="CraneOTAServiceSOAP11Binding" />
        <binding name="BurakWcfService_BasicHttpBindingConfig" />
        <binding name="AtlasjetSoapBinding" />
        <binding name="CraneOTAServiceSOAP11Binding1" />
        <binding name="CraneOTAServiceSOAP11Binding2" />
        <binding name="CraneOTAServiceExtendedSOAP11Binding" />
        <!--<binding name="CraneOTAServiceV21SOAP11Binding" />-->
        <binding name="CraneOTAServiceV21SOAP11Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="52428800" maxBufferSize="65536000" maxReceivedMessageSize="65536000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CraneOTAServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CraneOTAServiceSOAP12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CraneOTAServiceSOAP12Binding2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CraneOTAServiceExtendedSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CraneOTAServiceV21SOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="BurakWcfService_wsHttpBindingConfig">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BurakWcfService_Behavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="BurakWcfService.App_Code.Authentication.CustomValidator, App_Code/Authentication" />
            <serviceCertificate findValue="BurakWcfService" x509FindType="FindBySubjectName" storeName="My" storeLocation="CurrentUser" />
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
